[Unit]
Description=QEMU KVM preparation - module, ksm, hugepages
DefaultDependencies=no
After=local-fs.target
Before=shutdown.target
Conflicts=shutdown.target
RequiresMountsFor=/usr/local

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/qemu/init/qemu-kvm-init start
ExecReload=/usr/local/share/qemu/init/qemu-kvm-init start

[Install]
WantedBy=multi-user.target
