[Unit]
Description=sysbox-fs (part of the Sysbox container runtime)
PartOf=sysbox.service
Requires=network-online.target
After=network-online.target sysbox-mgr.service

[Service]
Type=notify
ExecStartPre=/bin/mkdir -p /usr/local/sysboxfs
ExecStart=/usr/local/bin/sysbox-fs --mountpoint /usr/local/sysboxfs
TimeoutStartSec=10
TimeoutStopSec=10
StartLimitInterval=0
NotifyAccess=main
OOMScoreAdjust=-500
# The number of files opened by sysbox-fs is a function of the number of
# containers and the workloads within them. Thus we set the limit to
# infinite so to prevent "too many open files" errors.
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=sysbox.service
