[Unit]
Description=Virtual machine lock manager
Documentation=man:virtlockd(8)
Documentation=https://libvirt.org
Requires=virtlockd.socket

[Service]
Type=notify
Environment=VIRTLOCKD_ARGS=
EnvironmentFile=-/etc/default/virtlockd
ExecStart=/usr/sbin/virtlockd $VIRTLOCKD_ARGS
Restart=on-failure
# Raise hard limits to match behaviour of systemd >= 240.
# During startup, daemon will set soft limit to match hard limit
# per systemd recommendations
LimitNOFILE=1048576
# The cgroups pids controller can limit the number of tasks started by
# the daemon, which can limit the number of domains for some hypervisors.
# A conservative default of 8 tasks per guest results in a TasksMax of
# 32k to support 4096 guests.
TasksMax=32768

[Install]
Also=virtlockd.socket
